/* You can add global styles to this file, and also import other style files */
:root {

    //texts
    --text-color: #553FF5;
    --text-color-secondary: #313321;
    --text-opacity-color: #30303052;

    //objects
    --object-background-color: #313321;
    --object-background-color-green: #008000;
    --object-background-color-blue: #596AFF;
    --object-background-color-read: #E63937;
}