/Server/.vs
/Server/Applications/bin
/Server/Applications/obj
/Server/bin
/Server/Core/bin
/Server/Core/obj
/Server/DALPostgresSQL/bin
/Server/DALPostgresSQL/obj
/Server/DALRedis/bin
/Server/DALRedis/obj
/Server/Hash/bin
/Server/Hash/obj
/Server/Loger/obj
/Server/obj
/Server/Server/bin
/Server/Server/obj
/Server/Test/bin
/Server/Test/obj
/Client/.vscode
